.mainHeading{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
   
}
.search input{
    width: 80%;
    max-width: 500px;
    height: 40px;
    border-radius: 100px;
    padding-left: 25px;
}
.search button{
    height: 50px;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-size: large;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    margin-left: 60px;
    
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 1% 0px;
}

.heading button{
    height: 40px;
    border-radius: 50px;
    background-color: white;
    color: blue;
    font-size: large;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    
}
.heading button a{
    text-decoration: none;
}
.heading button:active{
    box-shadow: 4px 4px 10px black;
}

.category{
    margin: 10px 0% 0px;
    display: flex;
    justify-content: space-between;

    overflow-x: auto;
    padding: 10px;
    white-space: nowrap;
    /* -webkit-overflow-scrolling: touch; */
}
.card{
    height: 200px;
    margin-right: 10px;
    width: 200px;
    min-width: 200px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 5px black;

}

.card:hover{
    box-shadow: 2px 2px 10px black;
}
.card:active{
    box-shadow: 4px 4px 10px black;
}
